Miniconda3-latest-Linux-x86_64.sh
# Ignore all .out files
*.out

# Other patterns to ignore
node_modules/
*.log
.DS_Store
Models/
Source/Ticket-Classification/__pycache__/Tokenization.cpython-36.pyc
best_model.h5
